.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  padding: 10px;
}

.sideBar {
  width: 20%;
}

.rightBar {
  width: 25%;
}

.mainWindow {
  width: 50%;
  border-right: 1px solid rgb(63, 63, 63);
  border-left: 1px solid rgb(63, 63, 63);
}

/* Clear floats after the columns */
.page:after {
  content: "";
  display: table;
  clear: both;
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.centered-img {
  display: block;
  margin: 0 auto;
}